[user]
	email = socials@rodneyosodo.com
	name = Rodney Osodo
	signingkey = ~/.ssh/github.pub

[core]
  editor = nvim
  pager = delta

[commit]
	gpgsign = true

[gpg]
	format = ssh

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[push]
  autoSetupRemote = true

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  line-numbers = true
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

# Detect whitespace errors when applying a patch.
[apply]
	whitespace = fix
