adafruit-ampy
ansible
asciinema
autopep8
backoff
bernhard
bibtexparser
bpytop
brlapi
cassandra-driver
chevron
coapthon
confluent-kafka
couchdb
curlify
dbus-python
distro
distro-info
docker
dockerpty
easyeda2kicad
elasticsearch
esptool
faiss-cpu
fasteners
fitx
fitz
flake8
fqdn
frontend
glances
gradio
graphitesender
h2
httpie
hypothesis-graphql
hypothesis-jsonschema
influxdb
influxdb-client
isoduration
isort
jeepney
jsonpointer
jsonschema-specifications
junit-xml
jupyter-server-terminals
jupyterlab
kafka-python
kaggle
kikit
langchain
launchpadlib
libvirt-python
linkify-it-py
lockfile
louis
macaroonbakery
markdownify
micropy-cli
monotonic
more-itertools
olefile
openai
paho-mqtt
pgadmin4
pika
pip-chill
pip-tools
pipreqs
platformio
potsdb
pre-commit
py3nvml
pycups
pygal
pygobject
pymacaroons
pymdstat
pypdf2
pyqt5
pyrate-limiter
pyrfc3339
pysnmp
pysocks
pytest-subtests
python-debian
python-telegram-bot
pyxdg
reportlab
ruff
scandir
scikit-learn
secretstorage
starlette-testclient
statsd
sumy
svg2mod
sympy
systemd-python
tensorflow
tensorflow-hub
texttable
thefuck
tiktoken
tools
torch
transformers
tweepy
twilio
unidecode
voila
wadllib
wakatime
websockets-cli
wifi
wxwidgets
xdg
xgboost
zeroconf
zipp
# absl-py # Installed as dependency for tensorboard, tensorflow
# aiofiles # Installed as dependency for frontend, gradio, platformio, ypy-websocket
# aiohttp # Installed as dependency for aiohttp-retry, gradio, langchain, openai, twilio
# aiohttp-retry # Installed as dependency for twilio
# aiosignal # Installed as dependency for aiohttp
# aiosqlite # Installed as dependency for ypy-websocket
# ajsonrpc # Installed as dependency for platformio
# alembic # Installed as dependency for flask-migrate
# altair # Installed as dependency for gradio
# ansible-core # Installed as dependency for ansible
# anyio # Installed as dependency for httpcore, jupyter-server, starlette
# argcomplete # Installed as dependency for pipx
# argon2-cffi # Installed as dependency for jupyter-server, nbclassic, notebook
# argon2-cffi-bindings # Installed as dependency for argon2-cffi
# arrow # Installed as dependency for isoduration
# asttokens # Installed as dependency for stack-data
# astunparse # Installed as dependency for tensorflow
# async-generator # Installed as dependency for trio-websocket
# async-timeout # Installed as dependency for aiohttp, bleak, langchain, zeroconf
# asyncio # Installed as dependency for twilio
# attrs # Installed as dependency for aiohttp, hypothesis, jsonschema, mailbits, micropy-cli, outcome, referencing, trio
# authlib # Installed as dependency for pgadmin4
# autoflake # Installed as dependency for micropython-stubber
# azure-common # Installed as dependency for azure-mgmt-rdbms, azure-mgmt-resource, azure-mgmt-subscription
# azure-core # Installed as dependency for azure-identity, azure-mgmt-core, msrest
# azure-identity # Installed as dependency for pgadmin4
# azure-mgmt-core # Installed as dependency for azure-mgmt-rdbms, azure-mgmt-resource, azure-mgmt-subscription
# azure-mgmt-rdbms # Installed as dependency for pgadmin4
# azure-mgmt-resource # Installed as dependency for pgadmin4
# azure-mgmt-subscription # Installed as dependency for pgadmin4
# babel # Installed as dependency for flask-babel, jupyterlab-server
# backcall # Installed as dependency for ipython
# bcrypt # Installed as dependency for pgadmin4
# beautifulsoup4 # Installed as dependency for markdownify, nbconvert, pypi-simple
# bidict # Installed as dependency for python-socketio
# bitstring # Installed as dependency for esptool
# black # Installed as dependency for micropython-stubber
# bleach # Installed as dependency for nbconvert, readme-renderer
# bleak # Installed as dependency for bleak-sigspec, upydevice
# bleak-sigspec # Installed as dependency for upydevice
# blinker # Installed as dependency for flask-mail, flask-principal, flask-security-too
# boltons # Installed as dependency for micropy-cli
# boto3 # Installed as dependency for pgadmin4
# botocore # Installed as dependency for boto3, pgadmin4, s3transfer
# bottle # Installed as dependency for platformio
# breadability # Installed as dependency for sumy
# brotli # Installed as dependency for flask-compress
# build # Installed as dependency for pip-tools
# cachetools # Installed as dependency for google-auth, micropython-stubber
# cachier # Installed as dependency for micropy-cli
# certifi # Installed as dependency for elastic-transport, httpcore, httpx, influxdb-client, kaggle, msrest, requests, websockets-cli
# cffi # Installed as dependency for argon2-cffi-bindings, pynacl
# cfgv # Installed as dependency for pre-commit
# chardet # Installed as dependency for breadability
# charset-normalizer # Installed as dependency for aiohttp, requests
# ci-info # Installed as dependency for etelemetry
# click # Installed as dependency for adafruit-ampy, black, click-didyoumean, flask, geomet, kikit, micropy-cli, micropython-stubber, mkdocs, nipype, nltk, pip-tools, platformio, typer, userpath, uvicorn, websockets-cli
# click-didyoumean # Installed as dependency for websockets-cli
# colorama # Installed as dependency for platformio, thefuck
# comm # Installed as dependency for ipykernel
# commentjson # Installed as dependency for kikit
# configobj # Installed as dependency for fitz
# configparser # Installed as dependency for fitz
# contourpy # Installed as dependency for matplotlib
# cryptography # Installed as dependency for ansible-core, authlib, azure-identity, esptool, msal, pgadmin4
# cycler # Installed as dependency for matplotlib
# dataclasses-json # Installed as dependency for langchain
# dbus-fast # Installed as dependency for bleak
# debugpy # Installed as dependency for ipykernel
# decorator # Installed as dependency for ipython, thefuck
# defusedxml # Installed as dependency for glances, nbconvert
# deprecated # Installed as dependency for pygithub
# dill # Installed as dependency for upydevice
# distlib # Installed as dependency for micropy-cli, virtualenv
# dnspython # Installed as dependency for email-validator, eventlet
# docopt # Installed as dependency for breadability, pipreqs, sumy
# docutils # Installed as dependency for readme-renderer
# dpath # Installed as dependency for micropy-cli
# ecdsa # Installed as dependency for esptool
# elastic-transport # Installed as dependency for elasticsearch
# email-validator # Installed as dependency for flask-security-too
# entrypoints # Installed as dependency for altair, jupyter-client
# etelemetry # Installed as dependency for nipype
# euclid3 # Installed as dependency for solidpython
# eventlet # Installed as dependency for pgadmin4
# exceptiongroup # Installed as dependency for hypothesis, pytest, trio
# executing # Installed as dependency for stack-data
# fastapi # Installed as dependency for gradio
# fastjsonschema # Installed as dependency for nbformat
# ffmpy # Installed as dependency for gradio
# filelock # Installed as dependency for huggingface-hub, nipype, transformers, virtualenv
# flask # Installed as dependency for flask-babel, flask-compress, flask-gravatar, flask-login, flask-mail, flask-migrate, flask-paranoid, flask-principal, flask-security-too, flask-socketio, flask-sqlalchemy, flask-wtf, pgadmin4
# flask-babel # Installed as dependency for pgadmin4
# flask-compress # Installed as dependency for pgadmin4
# flask-gravatar # Installed as dependency for pgadmin4
# flask-login # Installed as dependency for flask-security-too, pgadmin4
# flask-mail # Installed as dependency for pgadmin4
# flask-migrate # Installed as dependency for pgadmin4
# flask-paranoid # Installed as dependency for pgadmin4
# flask-principal # Installed as dependency for flask-security-too
# flask-security-too # Installed as dependency for pgadmin4
# flask-socketio # Installed as dependency for pgadmin4
# flask-sqlalchemy # Installed as dependency for flask-migrate, pgadmin4
# flask-wtf # Installed as dependency for flask-security-too, pgadmin4
# flatbuffers # Installed as dependency for tensorflow
# fonttools # Installed as dependency for matplotlib
# frozenlist # Installed as dependency for aiohttp, aiosignal
# fsspec # Installed as dependency for gradio-client, huggingface-hub
# future # Installed as dependency for glances, pyxnat
# gast # Installed as dependency for tensorflow
# geomet # Installed as dependency for cassandra-driver
# ghp-import # Installed as dependency for mkdocs
# gitdb # Installed as dependency for gitpython
# gitpython # Installed as dependency for micropy-cli
# google-auth # Installed as dependency for google-auth-oauthlib, tensorboard
# google-auth-oauthlib # Installed as dependency for tensorboard
# google-pasta # Installed as dependency for tensorflow
# gradio-client # Installed as dependency for gradio
# graphql-core # Installed as dependency for hypothesis-graphql
# greenlet # Installed as dependency for eventlet, sqlalchemy
# grpcio # Installed as dependency for tensorboard, tensorflow
# h11 # Installed as dependency for httpcore, uvicorn, wsproto
# h5py # Installed as dependency for tensorflow
# hpack # Installed as dependency for h2
# httpagentparser # Installed as dependency for pgadmin4
# httpcore # Installed as dependency for httpx
# httplib2 # Installed as dependency for fitz, launchpadlib, lazr.restfulclient
# httpx # Installed as dependency for gradio, gradio-client, python-telegram-bot
# huggingface-hub # Installed as dependency for gradio, gradio-client, transformers
# hyperframe # Installed as dependency for h2
# hypothesis # Installed as dependency for hypothesis-graphql, hypothesis-jsonschema
# identify # Installed as dependency for pre-commit
# idna # Installed as dependency for anyio, email-validator, requests, trio, yarl
# ifaddr # Installed as dependency for zeroconf
# importlib-metadata # Installed as dependency for twine
# iniconfig # Installed as dependency for pytest
# ipykernel # Installed as dependency for nbclassic, notebook
# ipython # Installed as dependency for ipykernel, jupyterlab
# ipython-genutils # Installed as dependency for nbclassic, notebook
# isodate # Installed as dependency for msrest, rdflib
# itsdangerous # Installed as dependency for flask, flask-security-too, flask-wtf, frontend
# jedi # Installed as dependency for ipython
# jinja2 # Installed as dependency for altair, ansible-core, flask, flask-babel, gradio, jupyter-server, jupyterlab, jupyterlab-server, micropy-cli, mkdocs, nbclassic, nbconvert, notebook
# jmespath # Installed as dependency for boto3, botocore
# joblib # Installed as dependency for nltk, scikit-learn
# json5 # Installed as dependency for jupyterlab-server
# jsonschema # Installed as dependency for altair, hypothesis-jsonschema, jupyter-events, jupyterlab-server, micropy-cli, nbformat
# jupyter-client # Installed as dependency for ipykernel, jupyter-server, nbclassic, nbclient, notebook, voila
# jupyter-core # Installed as dependency for ipykernel, jupyter-client, jupyter-server, jupyterlab, nbclassic, nbclient, nbconvert, nbformat, notebook, voila
# jupyter-events # Installed as dependency for jupyter-server-fileid
# jupyter-server # Installed as dependency for jupyter-server-fileid, jupyterlab, jupyterlab-server, nbclassic, notebook-shim, voila
# jupyter-server-fileid # Installed as dependency for jupyter-server-ydoc
# jupyter-server-ydoc # Installed as dependency for jupyterlab
# jupyter-ydoc # Installed as dependency for jupyter-server-ydoc, jupyterlab
# jupyterlab-pygments # Installed as dependency for nbconvert
# jupyterlab-server # Installed as dependency for jupyterlab, voila
# keras # Installed as dependency for tensorflow
# keyring # Installed as dependency for launchpadlib, twine
# kiwisolver # Installed as dependency for matplotlib
# lark-parser # Installed as dependency for commentjson
# lazr.restfulclient # Installed as dependency for launchpadlib
# lazr.uri # Installed as dependency for launchpadlib
# ldap3 # Installed as dependency for pgadmin4
# libclang # Installed as dependency for tensorflow
# libcst # Installed as dependency for micropy-cli, micropython-stubber
# loguru # Installed as dependency for micropython-stubber
# looseversion # Installed as dependency for nipype
# lxml # Installed as dependency for breadability, prov, pyxnat, tools
# mailbits # Installed as dependency for pypi-simple
# mako # Installed as dependency for alembic
# markdown # Installed as dependency for mkdocs, mkdocs-material, pymdown-extensions, tensorboard
# markdown-it-py # Installed as dependency for gradio, mdit-py-plugins, rich
# markdown2 # Installed as dependency for kikit
# markupsafe # Installed as dependency for gradio, jinja2, micropy-cli, mkdocs, nbconvert, wtforms
# marshmallow # Installed as dependency for dataclasses-json, marshmallow-enum, platformio
# marshmallow-enum # Installed as dependency for dataclasses-json
# matplotlib # Installed as dependency for gradio
# matplotlib-inline # Installed as dependency for ipykernel, ipython
# mccabe # Installed as dependency for flake8
# mdit-py-plugins # Installed as dependency for gradio
# mdurl # Installed as dependency for markdown-it-py
# mergedeep # Installed as dependency for mkdocs
# micropython-stubber # Installed as dependency for micropy-cli
# mistune # Installed as dependency for docwriter, nbconvert
# mkdocs # Installed as dependency for docwriter, mkdocs-material
# mkdocs-material # Installed as dependency for docwriter
# mkdocs-material-extensions # Installed as dependency for mkdocs-material
# mpmath # Installed as dependency for sympy
# msal # Installed as dependency for azure-identity, msal-extensions
# msal-extensions # Installed as dependency for azure-identity
# msgpack # Installed as dependency for influxdb
# msrest # Installed as dependency for azure-mgmt-rdbms, azure-mgmt-resource, azure-mgmt-subscription
# multidict # Installed as dependency for aiohttp, yarl
# mypy # Installed as dependency for micropy-cli, micropython-stubber
# mypy-extensions # Installed as dependency for black, mypy, typing-inspect
# nbclassic # Installed as dependency for jupyterlab, notebook
# nbclient # Installed as dependency for nbconvert, voila
# nbconvert # Installed as dependency for jupyter-server, nbclassic, notebook, voila
# nbformat # Installed as dependency for jupyter-server, nbclassic, nbclient, nbconvert, notebook
# nest-asyncio # Installed as dependency for ipykernel, jupyter-client, nbclassic, notebook
# netifaces # Installed as dependency for upydevice
# networkx # Installed as dependency for nipype, prov
# nibabel # Installed as dependency for fitz, nipype
# nipype # Installed as dependency for fitz
# nltk # Installed as dependency for sumy
# nodeenv # Installed as dependency for pre-commit, pyright
# notebook # Installed as dependency for jupyterlab
# notebook-shim # Installed as dependency for nbclassic
# numexpr # Installed as dependency for langchain
# numpy # Installed as dependency for altair, contourpy, fitx, fitz, gradio, h5py, kikit, langchain, matplotlib, nibabel, nipype, numexpr, opt-einsum, pandas, scikit-learn, scipy, shapely, tensorboard, tensorflow, tensorflow-hub, transformers, xgboost
# nvidia-cublas-cu11 # Installed as dependency for nvidia-cudnn-cu11, torch
# nvidia-cuda-nvrtc-cu11 # Installed as dependency for torch
# nvidia-cuda-runtime-cu11 # Installed as dependency for torch
# nvidia-cudnn-cu11 # Installed as dependency for torch
# oauthlib # Installed as dependency for requests-oauthlib, tweepy
# openapi-schema-pydantic # Installed as dependency for langchain
# opt-einsum # Installed as dependency for tensorflow
# orjson # Installed as dependency for gradio
# outcome # Installed as dependency for trio
# packaging # Installed as dependency for ansible-core, build, glances, gradio-client, huggingface-hub, ipykernel, jupyter-server, jupyterlab, jupyterlab-server, marshmallow, matplotlib, micropy-cli, micropython-stubber, mkdocs, nbconvert, nibabel, nipype, pipx, pypi-simple, pytest, tensorflow, transformers
# pandas # Installed as dependency for altair, fitz, gradio
# pandocfilters # Installed as dependency for nbconvert
# paramiko # Installed as dependency for sshtunnel
# parso # Installed as dependency for jedi
# passlib # Installed as dependency for flask-security-too, pgadmin4
# pathlib # Installed as dependency for pyxnat
# pathspec # Installed as dependency for black, mkdocs
# pathtools # Installed as dependency for cachier
# pbkdf2 # Installed as dependency for wifi
# pcbnewtransition # Installed as dependency for kikit
# pexpect # Installed as dependency for ipython
# pickleshare # Installed as dependency for ipython
# pillow # Installed as dependency for gradio, matplotlib, pgadmin4
# pip # Installed as dependency for pip-tools
# pipx # Installed as dependency for micropython-stubber
# pkginfo # Installed as dependency for twine
# platformdirs # Installed as dependency for black, jupyter-core, mkdocs, virtualenv
# pluggy # Installed as dependency for pytest
# ply # Installed as dependency for pysmi, solidpython
# portalocker # Installed as dependency for cachier, msal-extensions
# prettytable # Installed as dependency for solidpython
# prometheus-client # Installed as dependency for jupyter-server, nbclassic, notebook
# prompt-toolkit # Installed as dependency for ipython, questionary, websockets-cli
# protobuf # Installed as dependency for bernhard, tensorboard, tensorflow, tensorflow-hub
# prov # Installed as dependency for nipype
# psutil # Installed as dependency for bpytop, glances, ipykernel, pgadmin4, thefuck
# psycopg2-binary # Installed as dependency for pgadmin4
# ptyprocess # Installed as dependency for terminado
# pure-eval # Installed as dependency for stack-data
# pyasn1 # Installed as dependency for ldap3, pyasn1-modules, pysnmp, rsa
# pyasn1-modules # Installed as dependency for google-auth
# pybars3 # Installed as dependency for kikit
# pycairo # Installed as dependency for pygobject
# pycodestyle # Installed as dependency for autopep8, flake8
# pycountry # Installed as dependency for sumy
# pycparser # Installed as dependency for cffi
# pycryptodomex # Installed as dependency for pysnmp
# pydantic # Installed as dependency for easyeda2kicad, fastapi, gradio, langchain, micropy-cli, openapi-schema-pydantic, pypi-simple, websockets-cli
# pydot # Installed as dependency for nipype
# pydub # Installed as dependency for gradio
# pyelftools # Installed as dependency for platformio
# pyflakes # Installed as dependency for autoflake, flake8
# pygithub # Installed as dependency for micropython-stubber
# pygments # Installed as dependency for ipython, mkdocs-material, nbconvert, readme-renderer, rich
# pyjwt # Installed as dependency for msal, pygithub, twilio
# pymdown-extensions # Installed as dependency for mkdocs-material
# pymeta3 # Installed as dependency for pybars3
# pynacl # Installed as dependency for pygithub
# pyotp # Installed as dependency for pgadmin4
# pyparsing # Installed as dependency for bibtexparser, httplib2, matplotlib, packaging, pydot, rdflib
# pypi-simple # Installed as dependency for micropython-stubber
# pypng # Installed as dependency for solidpython
# pyproject-hooks # Installed as dependency for build
# pyqt5-sip # Installed as dependency for pyqt5
# pyright # Installed as dependency for micropython-stubber
# pyrsistent # Installed as dependency for jsonschema
# pyserial # Installed as dependency for adafruit-ampy, esptool, platformio, rshell, upydevice
# pysmi # Installed as dependency for pysnmp
# pysondb-v2 # Installed as dependency for micropython-stubber
# pyte # Installed as dependency for thefuck
# pytest # Installed as dependency for pytest-subtests
# python-dateutil # Installed as dependency for arrow, botocore, ghp-import, influxdb, influxdb-client, jupyter-client, kaggle, matplotlib, nipype, pandas, pgadmin4, prov
# python-dotenv # Installed as dependency for adafruit-ampy, websockets-cli
# python-engineio # Installed as dependency for python-socketio
# python-json-logger # Installed as dependency for jupyter-events
# python-minifier # Installed as dependency for micropy-cli, micropython-stubber
# python-multipart # Installed as dependency for gradio
# python-nmap # Installed as dependency for upydevice
# python-slugify # Installed as dependency for kaggle
# python-socketio # Installed as dependency for flask-socketio
# pytils # Installed as dependency for tools
# pytz # Installed as dependency for babel, flask-babel, influxdb, pandas, pgadmin4, twilio
# pyudev # Installed as dependency for rshell
# pyxnat # Installed as dependency for fitz
# pyyaml # Installed as dependency for ansible-core, docwriter, esptool, gradio, huggingface-hub, jupyter-events, langchain, libcst, mkdocs, pre-commit, pyyaml-env-tag, transformers
# pyyaml-env-tag # Installed as dependency for mkdocs
# pyzmq # Installed as dependency for ipykernel, jupyter-client, jupyter-server, nbclassic, notebook
# qrcode # Installed as dependency for pgadmin4
# questionary # Installed as dependency for micropy-cli
# rdflib # Installed as dependency for nipype, prov
# reactivex # Installed as dependency for influxdb-client
# readme-renderer # Installed as dependency for twine
# reedsolo # Installed as dependency for esptool
# referencing # Installed as dependency for jsonschema-specifications
# regex # Installed as dependency for nltk, tiktoken, transformers
# requests # Installed as dependency for azure-core, curlify, easyeda2kicad, etelemetry, gradio, gradio-client, huggingface-hub, influxdb, jupyterlab-server, kaggle, langchain, micropy-cli, micropython-stubber, msal, msrest, openai, pgadmin4, platformio, pygithub, pypi-simple, pyxnat, requests-oauthlib, starlette-testclient, sumy, tensorboard, tiktoken, transformers, tweepy, twilio, twine, yarg
# requests-oauthlib # Installed as dependency for google-auth-oauthlib, msrest, tweepy
# requests-toolbelt # Installed as dependency for twine
# requirements-parser # Installed as dependency for micropy-cli
# resolvelib # Installed as dependency for ansible-core
# rfc3339-validator # Installed as dependency for jupyter-events
# rfc3986 # Installed as dependency for httpx, twine
# rfc3986-validator # Installed as dependency for jupyter-events
# rich # Installed as dependency for twine, websockets-cli
# rpds-py # Installed as dependency for referencing
# rsa # Installed as dependency for google-auth
# rshell # Installed as dependency for micropy-cli
# s3transfer # Installed as dependency for boto3
# safetensors # Installed as dependency for transformers
# scipy # Installed as dependency for fitz, nipype, scikit-learn, xgboost
# semantic-version # Installed as dependency for gradio, platformio
# send2trash # Installed as dependency for jupyter-server, nbclassic, notebook
# setuptools # Installed as dependency for influxdb-client, jsonschema, nodeenv, nvidia-cublas-cu11, nvidia-cuda-runtime-cu11, pip-tools, pycountry, tensorboard, tensorflow, wifi
# shapely # Installed as dependency for kikit
# shellingham # Installed as dependency for websockets-cli
# simplejson # Installed as dependency for nipype, pgadmin4
# six # Installed as dependency for asttokens, astunparse, azure-core, azure-identity, bleach, cassandra-driver, configobj, ecdsa, eventlet, geomet, google-auth, google-pasta, influxdb, isodate, jsonschema, junit-xml, kaggle, launchpadlib, markdownify, python-dateutil, pyxnat, rfc3339-validator, tensorflow, thefuck, tools, virtualenv, websocket-client
# smmap # Installed as dependency for gitdb
# sniffio # Installed as dependency for anyio, httpcore, httpx, trio
# solidpython # Installed as dependency for kikit
# sortedcontainers # Installed as dependency for hypothesis, trio
# soupsieve # Installed as dependency for beautifulsoup4
# speaklater3 # Installed as dependency for pgadmin4
# sqlalchemy # Installed as dependency for alembic, flask-sqlalchemy, langchain, pgadmin4
# sqlparse # Installed as dependency for pgadmin4
# sshtunnel # Installed as dependency for pgadmin4
# stack-data # Installed as dependency for ipython
# starlette # Installed as dependency for fastapi, frontend, platformio, starlette-testclient
# tabulate # Installed as dependency for micropython-stubber, platformio
# tenacity # Installed as dependency for langchain, micropython-stubber
# tensorboard # Installed as dependency for tensorflow
# tensorboard-data-server # Installed as dependency for tensorboard
# tensorboard-plugin-wit # Installed as dependency for tensorboard
# tensorflow-estimator # Installed as dependency for tensorflow
# tensorflow-io-gcs-filesystem # Installed as dependency for tensorflow
# termcolor # Installed as dependency for tensorflow, woeusb-ng
# terminado # Installed as dependency for jupyter-server, jupyter-server-terminals, nbclassic, notebook
# text-unidecode # Installed as dependency for python-slugify
# threadpoolctl # Installed as dependency for scikit-learn
# tinycss2 # Installed as dependency for nbconvert
# tokenizers # Installed as dependency for transformers
# tomli # Installed as dependency for autoflake, autopep8, black, build, jupyterlab, micropython-stubber, mypy, pip-tools, pyproject-hooks, pytest, websockets-cli
# tomli-w # Installed as dependency for micropython-stubber
# toolz # Installed as dependency for altair
# tornado # Installed as dependency for ipykernel, jupyter-client, jupyter-server, jupyterlab, nbclassic, notebook, terminado
# tqdm # Installed as dependency for huggingface-hub, kaggle, langchain, micropy-cli, nltk, openai, transformers
# traitlets # Installed as dependency for comm, ipykernel, ipython, jupyter-client, jupyter-core, jupyter-events, jupyter-server, matplotlib-inline, nbclassic, nbclient, nbconvert, nbformat, notebook, voila
# traits # Installed as dependency for nipype
# trio # Installed as dependency for trio-websocket
# trio-websocket # Installed as dependency for websockets-cli
# typed-config # Installed as dependency for micropython-stubber
# typer # Installed as dependency for micropy-cli
# typing-extensions # Installed as dependency for azure-core, gradio, gradio-client, huggingface-hub, libcst, micropy-cli, mypy, pydantic, reactivex, tensorflow, torch, typer, typing-inspect
# typing-inspect # Installed as dependency for dataclasses-json, libcst
# tzdata # Installed as dependency for pandas
# ua-parser # Installed as dependency for user-agents
# uc-micro-py # Installed as dependency for linkify-it-py
# unsync # Installed as dependency for upydevice
# upydevice # Installed as dependency for micropy-cli
# urllib3 # Installed as dependency for botocore, elastic-transport, influxdb-client, kaggle, pgadmin4, requests, twine
# user-agents # Installed as dependency for pgadmin4
# userpath # Installed as dependency for pipx
# uvicorn # Installed as dependency for frontend, gradio, platformio
# virtualenv # Installed as dependency for pre-commit
# watchdog # Installed as dependency for cachier, mkdocs
# wcwidth # Installed as dependency for prompt-toolkit, pyte
# webcolors # Installed as dependency for wxwidgets
# webencodings # Installed as dependency for bleach, tinycss2
# websocket-client # Installed as dependency for jupyter-server
# websockets # Installed as dependency for gradio, gradio-client, voila
# werkzeug # Installed as dependency for flask, flask-login, pgadmin4, tensorboard
# wheel # Installed as dependency for astunparse, nvidia-cublas-cu11, nvidia-cuda-runtime-cu11, pip-tools, tensorboard
# wrapt # Installed as dependency for deprecated, tensorflow
# wsproto # Installed as dependency for platformio, trio-websocket
# wtforms # Installed as dependency for flask-wtf, pgadmin4
# wxpython # Installed as dependency for woeusb-ng, wxwidgets
# xmltodict # Installed as dependency for py3nvml
# y-py # Installed as dependency for jupyter-ydoc, ypy-websocket
# yarg # Installed as dependency for pipreqs
# yarl # Installed as dependency for aiohttp
# ypy-websocket # Installed as dependency for jupyter-server-ydoc
